.createProduct,.ProductID {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 100px 10px 20px 10px;
    font-size: 20px;
}
.validate {
    display: none;
    color: red;
    font-size: 15px;
    margin: -17px 0;
    padding: 0;
}
.create-btn,.save-btn,.change-btn {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: antiquewhite;
}
.create-btn:hover,.save-btn:hover,.change-btn:hover{
    background-color: #ffdb7f;
}
.create-btn:active,.save-btn:active,.change-btn:active{
    background-color: antiquewhite;
}