nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 35px;
    z-index: 100;
    font-family: Cheri, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.cat-icon{
    margin: 20px 0 0 30px;
    width: 60px;
    height: 60px;
}