@font-face {
    src: url('../styles/fonts/Cheri.otf');
    font-family: "Cheri";
}
.html {
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
