footer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    background-color: #4e0e0e;
    color: #fff;
    font-size: 16px;
}
.self_info{
    list-style: none;
}
.link {
    text-decoration: none;
    color: white;
}

